body {
  background: #ffe3e3;
}

.App-header {
  text-align: center;
}

.App-logo {
  max-width: 150px;
}

.App-footer {
  text-align: center;
  font-size: smaller;
  margin-top: 20px;
  padding-bottom: 30px;
  color: #93b5c6;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

a {
  color: #ff577f;
  text-decoration: none;
}

a:hover {
  color: #93b5c6;
}
